// Typography ==================================================================

.label-1, .label-2, .label-3 {
  margin-bottom: $headings-margin-bottom;
  font-weight: $font-weight-heavy;
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: uppercase;
}

.label-1 { font-size: $h5-font-size; }
.label-2 { font-size: $h6-font-size; }
.label-3 { font-size: 80%; }

// Links =======================================================================

a {
  &:focus {
    outline: 2px solid $primary-dark;
    outline-offset: -2px;
  }
}

// Buttons =====================================================================

.btn {
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .065rem;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;

  &:active, &:focus {
    border-color: $white;
    outline: 0;
    outline-offset: 0;
  }

  &.btn-primary {
    color: $white;
  }

  &.btn-outline-secondary {
    color: $gray-900;
    border-color: $gray-300;

    &:hover {
      background: transparent;
      color: $primary-light;
      border-color: $primary-light;
    }

    &:active, &:focus {
      background-color: transparent ;
      color: $primary-dark;
      border-color: $primary-dark;
      box-shadow: 0 0 0 0.2rem rgba(1, 183, 189, 0.25);
    }
  }

  &.btn-link {
    @include hover {
      color: $link-hover-color;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
      color: $primary-light;
      border-color: $primary-dark;
    }
  }

  &.disabled,
  &:disabled {
    color: $white !important;
    background-color: $gray-200 !important;
    border-color: $gray-200 !important;

    &:active, &:focus {
      color: inherit;
      box-shadow: none;
      outline: 0;
      outline-offset: 0;
    }
  }

  &.btn-sm {
    font-size: 12px;
  }
}

button.close {
  &:focus {
    outline: 0;
  }
}


// Badges ======================================================================

.badge {
  display: inline-block;
  padding: 6px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;

  &.badge-light {
    background-color: $gray-100;
    border: 1px solid $gray-300;
  }

  &:focus {
    outline: 0;
  }
}

// Navbar ======================================================================

.navbar {
  box-shadow: 0 1px 4px 2px rgba(0,0,0,0.10), 0 1px 0 0 $gray-300;
  background: $navbar-bg;
  padding: 0 0 0 12px;

  a {
    &:focus {
      outline: 2px solid $primary-dark !important;
      outline-offset: -2px;
    }
  }

  .logo {
    width: 112px;
    height: 26px;
    margin: 0 24px 0 0;
    display: inline-block;
    background-image: $logo-url;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .logo {
      width: 24px;
    }
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-item {
    margin: 0 8px;
  }

  .nav-link {
    box-shadow: inset 0 5px 0 0 transparent;
    text-transform: uppercase;
    font-size: .825rem;
    font-weight: 500;
    padding: 0.9rem 0 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.2s;

    &:hover {
      color: $primary !important;
    }
  }

  .active > .nav-link,
  .nav-link.active {
    box-shadow: inset 0 5px 0 0 $primary;
    font-weight: 900;
  }

  @media (max-width: 992px) {
    .active > .nav-link,
    .nav-link.active {
      box-shadow: inset 0 5px 0 0 transparent;
    }

    .nav-item {
      margin: 0;
    }
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    padding: 0 12px 12px 0;
  }
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

// Tables ======================================================================

.table {
  background: $table-bg;
  font-size: 14px;

  th {
    padding: .675rem 10px;
  }

  td {
    padding: .3rem 10px;
  }

  thead th {
    background: $gray-100;
    border-bottom: 1px solid $gray-300;
  }
}

.table-bordered td, .table-bordered th {
  border-top: 0;
  border-right: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  border-left: 0;
}
.table-bordered tr:last-child td {
  border-bottom: 0;
}

// Forms =======================================================================

.form-control {
  border: 1px solid $gray-300;
  font-size: 14px;
  border-radius: 0;

  &.outline {
    border: 0;
    padding: 0 $input-padding-x 0 0;
    background-image: linear-gradient(0deg,$gray-300 1px,rgba(63,81,181,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);

    &:focus {
      box-shadow: none !important;
      background-image: linear-gradient(0deg, $primary 2px, rgba(63, 81, 181, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
    }

    &.is-valid {
      background-image: linear-gradient(0deg, $success 1px, rgba(63, 81, 181, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);

      &:focus {
        box-shadow: none !important;
        background-image: linear-gradient(0deg, $success 2px, rgba(63, 81, 181, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
      }
    }

    &.is-invalid {
      background-image: linear-gradient(0deg, $danger 1px, rgba(63, 81, 181, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);

      &:focus {
        box-shadow: none !important;
        background-image: linear-gradient(0deg, $danger 2px, rgba(63, 81, 181, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
      }
    }
  }

  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    opacity: .55;
  }

}

.form-group {
  label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    color: $gray-900;
    letter-spacing: 0;
    margin-bottom: 0;
  }

  &:focus-within label {
    color: $primary;
  }

  &.has-success {
    label {
      color: $success;
    }
    &:focus-within label {
      color: $success;
    }
  }

  &.has-danger {
    label {
      color: $danger;
    }
    &:focus-within label {
      color: $danger;
    }
  }

  .valid-feedback {
    color: $success;
  }

  .invalid-feedback {
    color: $danger;
  }

}

@media (min-width: 576px) {
  .form-inline {
    .form-control {
      width: 100%;
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown {
  right: 8px;
}

.custom-control-input {
  &:disabled ~ label::before {
    border-color: $gray-200;
  }
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;

  &::before {
    top: 2px;
    background-color: transparent;
    border: 1px solid $primary;
  }

  &::after {
    top: 2px;
  }
}

.custom-radio, .custom-checkbox {
  label {
    text-transform: none;
    font-size: 14px !important;
    font-weight: $font-weight-light;
    color: inherit !important;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search-input {
  text-overflow: ellipsis;
  padding: 0 .5rem 0 2rem;
  transition: all 0.2s;
}

.search-magnifier {
  left: 0.5rem;
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  fill: $gray-600;
}

.form-control-file {
  &:focus {
    outline: 0;
    box-shadow: none !important;
    background-image: linear-gradient(0deg, $primary 2px, rgba(63, 81, 181, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  }
}

// Tabs ========================================================================

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-top: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-left: 1px solid $gray-300;
  border-right: 1px solid $gray-300;

  .nav-link {
    background-color: transparent;
    height: 44px;

    &:hover {
      border-color: default;
    }

    &.active {
      box-shadow: 0 1px $tab-bg;
      background-color: $tab-bg;
      color: $tab-active-color;
    }

    &:focus {
      border-color: $primary-dark;
      outline: 0;
    }
  }

  .nav-item {
    font-family: $font-family-serif;
    border-right: 1px solid $gray-300;
  }

  &.tabs-page {
    border-right: 0;
    border-left: 0;

    .nav-link {
      &.active {
        box-shadow: inset 0 -4px $primary-dark;
        background-color: transparent;
      }
    }
  }

}

.tab-content {
  border-left: 1px solid $gray-300;
  border-right: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;

  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
    background: $tab-bg;
    padding: .8rem;
  }

  &.tabs-page {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;

    > .tab-pane {
      background: transparent;
    }
  }
}

// Cards =======================================================================

.card {
  background: $card-bg;
}

.card-header {
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  height: 50px;
  align-items: center;
}

@media (min-width: 576px) and (max-width: 1200px) {
  .card-deck {
    flex-flow: initial;
    flex-direction: column;
  }
  .card-deck .card {
    margin-bottom: 12px;
  }
}

// Popovers ====================================================================

.popover {
  color: $dark;
  box-shadow: $box-shadow-lg;

  .popover-body {
    color: inherit;
  }
}

// Dropdowns ===================================================================

.dropdown-menu {
  background-color: $dropdown-menu-bg;
}

.dropdown-body {
  padding: 0 .8rem;
}

.dropdown-header {
  font-family: $font-family-sans-serif;
  font-size: 80%;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

// Modals ======================================================================

.modal-body {
  color: $dark;
}

.modal-header {
  align-items: center;
}

// Page Headers ================================================================

.page-header {
  padding: 16px 0;
  display: flex;
}

// Utilities ===================================================================

.overflow-hidden {
  overflow: hidden;
}

// Pagination ==================================================================
.page-item .mdi {
  font-size: 15px;
}
