// Colors
$white:               #ffffff !default;
$app-bg:              #070F15 !default; // App BG
$gray-100:            #121D27 !default; // Table Header BG
$gray-200:            #ABACAD !default; // Disabled
$gray-300:            #494949 !default; // Borders
$gray-600:            #D4DAE5 !default; // Secondary Text / Text Muted
$gray-900:            #ffffff !default; // Primary Text
$black:               #000000 !default;

$primary:             #01B7BD !default; // Dimensional Teal
$primary-light:       #01919C !default;
$primary-dark:        #007E87 !default;
$secondary:           $gray-600 !default;

$success:             #7DE2D1 !default; // Green
$success-light:       rgba(125, 226, 209, .7) !default;
$success-dark:        #53d9c2 !default;

$info:                #238CFF !default; // Blue
$info-light:          rgba(35, 140, 255, .7) !default;
$info-dark:           #0072ef !default;

$warning:             #FFCE7A !default; // Yellow
$warning-light:       rgba(255, 206, 122, .7) !default;
$warning-dark:        #ffbb47 !default;

$danger:              #F66 !default; // Red
$danger-light:        rgba(255, 102, 102, .7) !default;
$danger-dark:         #ff3333 !default;
$light:               $white !default;
$dark:                $black !default;

$data-vis-blue:       #129CEB !default;
$data-vis-pink:       #F05EA0 !default;
$data-vis-purple:     #AF79FF !default;
$data-vis-yellow:     #BA9100 !default;
$data-vis-magenta:    #A9195D !default;
$data-vis-teal:       #00A7A4 !default;

$grid-blue-light:     #EDF5FF !default;
$grid-blue:           #D0E2FF !default;
$grid-blue-dark:      #A6C8FF !default;

// Body
$body-bg:                   $app-bg !default;
$body-color:                $gray-900 !default;

// Links
$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          $primary-dark !default;

// Components
$border-color:                $gray-300 !default;

$border-radius:               2px !default;
$border-radius-lg:            8px !default;
$border-radius-sm:            4px !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 1px 4px 2px $gray-300, 0 1px 0 0 $gray-300 !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Grid columns
$grid-gutter-width:           24px !default;

// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           "Sentinel", Georgia, serif, !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-heavy:           900 !default;
$headings-font-family:        $font-family-serif !default;
$headings-font-weight:        300 !default;
$text-muted:                  $gray-600 !default;

// Navs
$nav-tabs-border-radius:            0 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-hover-border-color:  transparent !default;
$nav-tabs-link-active-border-color: transparent !default;
$logo-url: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='112px' height='26px' viewBox='0 0 112 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EStyle/Icons/Logo dark%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Style/Icons/Logo-dark' fill-rule='nonzero'%3E%3Cpath d='M15.2172119,15.1226054 C15.2172119,14.9885057 15.0424577,14.9022989 15.0424577,14.9022989 L13.343458,13.9444444 C12.8968638,14.2030651 4.19798547,19.164751 3.42129991,19.5478927 C3.27781526,19.5962663 3.12596628,19.6158074 2.97470571,19.605364 C2.85011101,19.6103397 2.72953281,19.5613548 2.64461434,19.4712644 C2.52003599,19.3200105 2.4545846,19.1296848 2.46015152,18.9348659 L2.46015152,1.00383142 C1.8418309,1.31436737 1.24214362,1.65976641 0.664066157,2.03831418 C0.269995354,2.37381919 0.0491017133,2.86593103 0.0621348451,3.37931034 C0.0621348451,3.55172414 0.0621348451,21.2720307 0.0621348451,22.6992337 C0.0406693047,22.9194496 0.106815525,23.1392739 0.246597666,23.3122605 C0.34117185,23.3988 0.467310516,23.4437401 0.59610617,23.4367816 C0.832793154,23.4179773 1.06196029,23.3458881 1.26599747,23.2260536 C1.40191744,23.1494253 14.7026577,15.697318 15.0715834,15.3812261 C15.160545,15.3241361 15.2150799,15.2272879 15.2172119,15.1226054 Z' id='Shape' fill='%23AC221D'%3E%3C/path%3E%3Cpath d='M20.9841022,14.0881226 C20.8578908,14.0210728 8.44063036,6.8467433 7.98432759,6.68390805 C7.92338282,6.67250811 7.86080954,6.67250811 7.79986477,6.68390805 C7.73466668,6.68112746 7.67127475,6.70544971 7.62511052,6.75095785 C7.56911706,6.82906878 7.54172667,6.92365122 7.54744197,7.01915709 L7.54744197,8.9348659 C7.99403616,9.19348659 16.6832059,14.1551724 17.4307658,14.5957854 C17.7317314,14.7681992 17.87736,14.9597701 17.87736,15.1609195 C17.87736,15.362069 17.4598915,15.7260536 17.4307658,15.7356322 L1.68346596,24.6436782 C1.91647163,24.7777778 2.89703715,25.3333333 3.53780274,25.6015326 C3.71168665,25.6788286 3.90047919,25.7180421 4.09119121,25.7165203 C4.39645393,25.7102285 4.6945897,25.6242991 4.9552539,25.467433 L20.9646851,16.348659 C21.5957421,15.9942529 21.935542,15.6111111 21.935542,15.2183908 C21.9064163,14.5766284 20.9938108,14.0881226 20.9841022,14.0881226 Z' id='Shape' fill='%23AC221D'%3E%3C/path%3E%3Cpath d='M3.86789411,17.0574713 C3.86789411,17.2777778 3.94556266,17.3735632 4.08148264,17.3735632 C4.18783626,17.3644064 4.29071903,17.3316629 4.38244829,17.2777778 L6.1008651,16.4061303 C6.1008651,16.4061303 6.1008651,6.13793103 6.1008651,5.16091954 C6.07296199,4.91045716 6.1462126,4.65923434 6.30474506,4.46168582 C6.39274163,4.37716597 6.51213273,4.33212781 6.63483643,4.33716475 C6.82039442,4.34866686 7.00032684,4.40455361 7.15909918,4.5 L21.8578735,12.9003831 C21.8578735,12.6704981 21.8578735,11.7988506 21.8093306,11.0900383 C21.8213995,10.4347058 21.4408215,9.83393633 20.8384737,9.55747126 C20.7025537,9.46168582 6.35328791,1.348659 5.0814653,0.649425287 C4.88781008,0.531585662 4.66776784,0.462509899 4.44069971,0.448275862 C4.30549514,0.442435104 4.17439529,0.49487188 4.08148264,0.591954023 C3.93389442,0.78804826 3.85854654,1.02795969 3.86789411,1.27203065 L3.86789411,17.0574713 Z' id='Shape' fill='%23B6231D'%3E%3C/path%3E%3Cpath d='M58.7407292,9.25095785 C56.4397982,9.25095785 55.2747699,10.5536398 55.2747699,13.0823755 L55.2747699,16.6168582 C55.2747699,18.8007663 56.5368839,20.1034483 58.6436435,20.1034483 C59.5679699,20.2137734 60.4947908,19.9182126 61.1787979,19.2949939 C61.862805,18.6717751 62.2350397,17.7837289 62.1969799,16.8659004 L62.1969799,16.348659 L60.1484718,16.7318008 C60.1484718,18.2739464 59.2649919,18.4942529 58.7504378,18.4942529 C57.8281236,18.51341 57.3426952,17.9195402 57.3426952,16.7318008 L57.3426952,14.9885057 L62.1969799,14.9885057 L62.1969799,13.0727969 C62.28493,12.2464361 62.1120013,11.4134445 61.7018429,10.6877395 C61.0484123,9.71840222 59.9178038,9.16981215 58.7407292,9.25095785 L58.7407292,9.25095785 Z M60.0999289,13.3218391 L60.0999289,13.4750958 L57.3426952,13.4750958 L57.3426952,12.6800766 C57.3426952,11.5210728 57.8087065,10.9272031 58.721312,10.9272031 C59.3426605,10.9272031 60.0805118,11.2337165 60.0805118,12.6800766 L60.0999289,13.3218391 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M107.827257,12.0191571 C107.878758,11.2288971 107.577429,10.4559326 107.002458,9.90339613 C106.427487,9.35085963 105.636373,9.0740069 104.837017,9.14559387 C102.574921,9.14559387 101.176887,10.3812261 101.099218,12.4501916 L101.099218,12.4501916 L101.099218,12.4501916 L101.099218,12.756705 L103.099183,12.4214559 C103.244812,11.3773946 103.720532,10.8505747 104.516635,10.8505747 C105.312737,10.8505747 105.681663,11.3678161 105.681663,12.3927203 L105.681663,12.9099617 L105.594286,12.9099617 L104.730223,13.302682 C104.025055,13.6095273 103.349218,13.9781831 102.710841,14.4042146 C101.553045,15.1041917 100.849913,16.3499717 100.856504,17.6896552 C100.791582,18.3229294 101.007446,18.9529578 101.448502,19.4174837 C101.889558,19.8820097 102.512696,20.1356297 103.157435,20.1130268 C104.072786,20.1744394 104.951165,19.7466169 105.458366,18.9923372 L105.70108,18.6954023 L105.70108,19.0785441 L105.76904,19.940613 L107.94376,19.940613 C107.843562,19.4225699 107.788347,18.897037 107.778714,18.3697318 L107.827257,12.0191571 Z M105.671954,14.7394636 L105.671954,17.4980843 L105.671954,17.4980843 C104.972937,18.2547893 104.701097,18.4559387 104.089458,18.4559387 C103.477818,18.4559387 102.972972,18.0536398 102.972972,17.335249 C102.972972,16.3103448 103.691406,15.4961686 105.390406,14.6149425 L105.613703,14.5 L105.671954,14.7394636 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M31.9936201,5.79310345 L28.634455,5.79310345 L28.634455,19.9693487 L31.9936201,19.9693487 C33.1010149,20.0731745 34.2003721,19.7034923 35.0129852,18.954023 C35.74188,18.0555349 36.1084051,16.9229252 36.0420936,15.7739464 L36.0420936,9.9789272 C36.103178,8.81807524 35.7144419,7.6777589 34.9547338,6.78927203 C34.158059,6.05379861 33.0797579,5.69103994 31.9936201,5.79310345 Z M33.7217455,15.9559387 C33.7217455,17.5938697 33.2168998,18.1111111 31.634403,18.1111111 L30.9839289,18.1111111 L30.9839289,7.62260536 L31.634403,7.62260536 C33.1780656,7.62260536 33.7217455,8.19731801 33.7217455,9.81609195 L33.7217455,15.9463602 L33.7217455,15.9559387 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpolygon id='Shape' fill='%23FFFFFF' points='40.2653213 5.63984674 38.1779789 5.63984674 38.1779789 6.13793103 38.1779789 6.66475096 38.1779789 7.64176245 40.2653213 7.64176245 40.2653213 7.14367816 40.2653213 6.71264368'%3E%3C/polygon%3E%3Cpolygon id='Shape' fill='%23FFFFFF' points='40.2653213 9.40421456 38.1779789 9.40421456 38.1779789 12.4022989 38.1779789 16.9329502 38.1779789 19.9693487 40.2653213 19.9693487 40.2653213 16.9329502 40.2653213 12.3256705'%3E%3C/polygon%3E%3Cpath d='M51.6340563,9.25095785 C50.691508,9.28567631 49.8071784,9.70975313 49.1972053,10.4195402 L49.0709939,10.5344828 L48.9739082,10.3908046 C48.3040169,9.43295019 48.0030513,9.25095785 47.2457828,9.25095785 C46.3498434,9.29689152 45.5117389,9.70168209 44.9254347,10.3716475 L44.6730119,10.591954 L44.6730119,9.40421456 L42.5856695,9.40421456 L42.5856695,19.940613 L44.7215548,19.940613 L44.7215548,11.6743295 L44.7798062,11.6743295 C45.1815106,11.3112562 45.6933838,11.0890484 46.2360916,11.0421456 C46.5370573,11.0421456 47.06132,11.1762452 47.06132,12.1245211 L47.06132,20.0172414 L49.158371,20.0172414 L49.158371,11.6743295 L49.2166225,11.6743295 C49.5947398,11.3066259 50.0803703,11.0653874 50.6049479,10.9846743 C50.9932907,10.9846743 51.4495935,11.1762452 51.4495935,12.0862069 L51.4495935,19.9789272 L53.5466445,19.9789272 L53.5466445,11.4636015 C53.5369359,10.4578544 53.2068445,9.25095785 51.6340563,9.25095785 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M68.692013,9.25095785 C67.8295609,9.28639388 67.0178209,9.66266398 66.4396248,10.2950192 L66.187202,10.5153257 L66.187202,9.40421456 L64.090151,9.40421456 L64.090151,19.940613 L66.1774935,19.940613 L66.1774935,11.664751 L66.2454534,11.664751 C66.6407836,11.3012644 67.13827,11.0641999 67.6726132,10.9846743 C68.2065845,10.9846743 68.5366759,11.3965517 68.5366759,12.0670498 L68.5366759,19.9597701 L70.6046012,19.9597701 L70.6046012,11.4636015 C70.6143097,10.0268199 69.9638356,9.25095785 68.692013,9.25095785 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M75.9054801,13.6475096 C74.7307432,12.7950192 74.3424004,12.4118774 74.3424004,11.8659004 C74.3424004,11.336892 74.7770679,10.908046 75.3132574,10.908046 C75.954023,10.908046 76.4006172,11.3678161 76.58508,12.2011494 L78.4102911,12.0383142 C78.051074,10.1896552 76.9928399,9.2605364 75.2744231,9.2605364 C73.7065322,9.19566187 72.3815575,10.3957414 72.3133094,11.9425287 C72.3133094,13.2164751 73.0123264,14.1455939 74.9734575,15.4770115 C76.1384858,16.2911877 76.4977029,16.7222222 76.4977029,17.3256705 C76.5035624,17.6135975 76.3875052,17.8909023 76.1774524,18.0908703 C75.9673997,18.2908382 75.6823662,18.3953675 75.390926,18.3793103 C74.4977376,18.3793103 74.1967719,17.9482759 73.8958062,16.7509579 L72.0900123,17.210728 C72.4880637,19.2030651 73.5657149,20.0842912 75.4880117,20.0842912 C76.2870182,20.1263949 77.0683922,19.8423365 77.6486805,19.2988081 C78.2289688,18.7552797 78.5570585,18.0001563 78.5559226,17.210728 C78.5462111,15.9176245 78.0316569,15.2088123 75.9054801,13.6475096 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpolygon id='Shape' fill='%23FFFFFF' points='82.3713875 9.40421456 80.2743364 9.40421456 80.2743364 11.1475096 80.2743364 16.5977011 80.2743364 19.9693487 82.3713875 19.9693487 82.3713875 16.5977011 82.3713875 10.9846743'%3E%3C/polygon%3E%3Cpolygon id='Shape' fill='%23FFFFFF' points='80.2743364 5.63984674 80.2743364 6.1954023 80.2743364 6.82758621 80.2743364 7.64176245 82.3713875 7.64176245 82.3713875 7.24904215 82.3713875 6.45402299 82.3713875 5.63984674'%3E%3C/polygon%3E%3Cpath d='M87.614015,9.22222222 C85.4392954,9.22222222 84.1383471,10.6302682 84.1383471,12.98659 L84.1383471,16.3869732 C84.1383471,18.7528736 85.4295869,20.2183908 87.5945979,20.2183908 C89.7596089,20.2183908 91.0702658,18.8007663 91.0702658,16.3869732 L91.0702658,12.98659 C91.0702658,10.6206897 89.779026,9.22222222 87.614015,9.22222222 Z M88.9149633,16.6551724 C88.9149633,17.8524904 88.4683691,18.4559387 87.5945979,18.4559387 C87.0023751,18.4559387 86.2936496,18.1398467 86.2936496,16.6551724 L86.2936496,12.7183908 C86.2936496,11.5402299 86.7402438,10.9367816 87.6334322,10.9367816 C88.5266206,10.9367816 88.9149633,11.5402299 88.9149633,12.7183908 L88.9149633,16.6551724 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M97.2546246,9.25095785 C96.3921725,9.28639388 95.5804325,9.66266398 95.0022364,10.2950192 L94.7498136,10.5153257 L94.7498136,9.40421456 L92.6527626,9.40421456 L92.6527626,19.940613 L94.7498136,19.940613 L94.7498136,11.664751 L94.8177736,11.664751 C95.2131038,11.3012644 95.7105902,11.0641999 96.2449333,10.9846743 C96.7789047,10.9846743 97.108996,11.3965517 97.108996,12.0670498 L97.108996,19.9597701 L99.1769213,19.9597701 L99.1769213,11.4636015 C99.1769213,10.0268199 98.5361558,9.25095785 97.2546246,9.25095785 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpolygon id='Shape' fill='%23FFFFFF' points='109.953434 19.9693487 111.885439 19.9693487 111.885439 16.7701149 111.885439 9.30842912 111.885439 5.79310345 109.953434 5.79310345 109.953434 9.47126437 109.953434 16.5114943'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

// Navbar
$navbar-bg:                         $dark !default;
$navbar-light-color:                $gray-600 !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E");
$navbar-light-toggler-border-color: transparent !default;

// Forms
$input-bg:                              transparent !default;
$input-disabled-bg:                     $gray-200 !default;
$input-color:                           $gray-900 !default;
$input-border-color:                    $gray-300 !default;
$input-focus-border-color:              $primary-light !default;
$input-padding-x:                       .5rem !default;
$input-border-radius:                   0 !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;
$form-text-margin-top:                  6px !default;

// Alerts
$alert-padding-y:                   .5rem !default;
$alert-padding-x:                   .80rem !default;
$alert-border-radius:               0 !default;

// Cards
$card-bg:                           $dark !default;
$card-spacer-y:                     .8rem !default;
$card-spacer-x:                     .8rem !default;
$card-border-radius:                0 !default;
$card-border-color:                 $gray-300 !default;

// Popovers
$popover-border-color:              $gray-300 !default;
$popover-border-radius:             0 !default;
$popover-arrow-width:               .75rem !default;
$popover-arrow-height:              .4rem !default;

// Dropdowns
$dropdown-menu-bg:                  $dark !default;
$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-border-color:             $gray-300 !default;
$dropdown-border-radius:            0 !default;
$dropdown-divider-bg:               $gray-300 !default;
$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           .8rem !default;
$dropdown-header-color:             $gray-600 !default;

// Breadcrumbs
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-bg:                     $app-bg !default;
$breadcrumb-border-radius:          0 !default;

// Pagination
$pagination-border-width:           0 !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary-light !default;
$pagination-hover-border-color:     $primary-light !default;

// Modals
$modal-inner-padding:               .8rem !default;
$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       0 !default;
$modal-header-border-color:         $gray-300 !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding:              .8rem !default;

$modal-backdrop-bg:                 $white !default;
$modal-backdrop-opacity:            .3 !default;

// Tables
$table-bg:                          $dark !default;

// Tabs
$tab-bg:                            $dark !default;
$tab-active-color:                  $gray-900 !default;

// Tooltips

$tooltip-color:                     $black !default;
$tooltip-bg:                        $white !default;
