// Colors
$white:               #ffffff !default;
$app-bg:              #f3f3f3 !default; // App BG
$gray-100:            #F5F5F4 !default; // Table Header BG
$gray-200:            #B5BFCE !default; // Disabled
$gray-300:            #D2D2D0 !default; // Borders
$gray-600:            #6E787F !default; // Secondary Text / Text Muted
$gray-900:            #333F48 !default; // Primary Text
$black:               #000000 !default;

$primary:             #01B7BD !default; // Dimensional Teal
$primary-light:       #01919C !default;
$primary-dark:        #007E87 !default;
$secondary:           $gray-600 !default;

$success:             #3C8700 !default; // Green
$success-light:       #D8E7CC !default;
$success-dark:        #256700 !default;

$info:                #14568D !default; // Blue
$info-light:          #D0DDE8 !default;
$info-dark:           #073B64 !default;

$warning:             #FDB81E !default; // Yellow
$warning-light:       #FFF1D2 !default;
$warning-dark:        #FC9E10 !default;

$danger:              #E4292F !default; // Red
$danger-light:        #F7D0D1 !default;
$danger-dark:         #D8171B !default;
$light:               $gray-100 !default;
$dark:                $gray-900 !default;

$data-vis-blue:       #129CEB !default;
$data-vis-pink:       #F05EA0 !default;
$data-vis-purple:     #AF79FF !default;
$data-vis-yellow:     #BA9100 !default;
$data-vis-magenta:    #A9195D !default;
$data-vis-teal:       #00A7A4 !default;

$grid-blue-light:     #EDF5FF !default;
$grid-blue:           #D0E2FF !default;
$grid-blue-dark:      #A6C8FF !default;

// Body
$body-bg:                   $app-bg !default;
$body-color:                $gray-900 !default;

// Links
$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          $primary-dark !default;

// Components
$border-color:                $gray-300 !default;

$border-radius:               2px !default;
$border-radius-lg:            8px !default;
$border-radius-sm:            4px !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 1px 4px 2px $gray-300, 0 1px 0 0 $gray-300 !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Grid columns
$grid-gutter-width:           24px !default;

// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           "Sentinel", Georgia, serif, !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-heavy:           900 !default;
$headings-font-family:        $font-family-serif !default;
$headings-font-weight:        300 !default;
$text-muted:                  $gray-600 !default;

// Navs
$nav-tabs-border-radius:            0 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-hover-border-color:  transparent !default;
$nav-tabs-link-active-border-color: transparent !default;
$logo-url: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='112px' height='26px' viewBox='0 0 112 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Elogo%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Header-/-Small-/-Light' transform='translate(-20.000000, -12.000000)' fill-rule='nonzero'%3E%3Cg id='logo' transform='translate(20.000000, 12.000000)'%3E%3Cpath d='M15.7922587,14.7483734 C15.7922587,14.6135971 15.6189749,14.5269553 15.6189749,14.5269553 L13.9342717,13.5642677 C13.4914354,13.8241933 4.86575488,18.8109149 4.09560483,19.1959899 C3.95332756,19.2446076 3.80275633,19.2642473 3.65276856,19.2537512 C3.52922228,19.2587519 3.4096587,19.2095199 3.32545479,19.1189749 C3.20192472,18.9669579 3.13702407,18.7756718 3.14254415,18.5798699 L3.14254415,0.558358784 C2.52942647,0.870461646 1.93478532,1.2176035 1.36157217,1.59806135 C0.970817323,1.93525925 0.751782419,2.4298542 0.764705882,2.94582393 C0.764705882,3.11910769 0.764705882,20.9288275 0.764705882,22.363232 C0.743420966,22.5845591 0.809010591,22.8054925 0.947616518,22.979352 C1.0413949,23.0663282 1.16647215,23.111495 1.29418404,23.1045014 C1.52887939,23.0856022 1.75611817,23.0131493 1.95843845,22.8927101 C2.09321471,22.8156951 15.2820343,15.3259859 15.6478555,15.008299 C15.7360686,14.950921 15.7901446,14.8535842 15.7922587,14.7483734 Z' id='Path' fill='%23A21E1B'%3E%3C/path%3E%3Cpath d='M21.5106228,13.7086708 C21.3854734,13.6412827 9.07269951,6.43075289 8.62023636,6.267096 C8.55980441,6.25563854 8.49775766,6.25563854 8.43732572,6.267096 C8.37267624,6.26430139 8.30981773,6.28874636 8.26404196,6.33448413 C8.20851966,6.41298919 8.18135975,6.50804888 8.18702696,6.60403665 L8.18702696,8.52941176 C8.62986323,8.78933741 17.2459169,13.776059 17.9871863,14.2188952 C18.2856194,14.392179 18.4300226,14.5847165 18.4300226,14.7868809 C18.4300226,14.9890453 18.0160669,15.3548666 17.9871863,15.3644934 L2.3723941,24.3174877 C2.60343912,24.452264 3.57575355,25.0106228 4.21112734,25.2801753 C4.38354808,25.3578613 4.570752,25.3972727 4.75985925,25.3957432 C5.0625533,25.3894197 5.35818037,25.3030567 5.61665118,25.145399 L21.491369,15.9806135 C22.1171159,15.6244191 22.4540566,15.239344 22.4540566,14.8446421 C22.4251759,14.1996415 21.5202496,13.7086708 21.5106228,13.7086708 Z' id='Path' fill='%23A21E1B'%3E%3C/path%3E%3Cpath d='M4.53844111,16.6930023 C4.53844111,16.9144204 4.61545611,17.0106892 4.75023237,17.0106892 C4.85569107,17.0014862 4.95770812,16.9685774 5.04866552,16.9144204 L6.75262249,16.0383747 C6.75262249,16.0383747 6.75262249,5.7183641 6.75262249,4.73642279 C6.72495418,4.48469662 6.79758841,4.23220618 6.95478688,4.03366087 C7.04204299,3.94871454 7.16042946,3.90344912 7.28210065,3.90851149 C7.46609724,3.92007163 7.64451559,3.97624037 7.80195193,4.07216837 L22.3770416,12.5149383 C22.3770416,12.2838932 22.3770416,11.4078476 22.3289072,10.6954588 C22.3408745,10.0368196 21.9634989,9.43301873 21.3662196,9.15515868 C21.2314434,9.05888992 7.00292126,0.904926305 5.74180056,0.202164387 C5.54977488,0.0837301652 5.3315842,0.0143058597 5.10642677,-7.06574556e-16 C4.9723599,-0.00587022956 4.84236321,0.0468311322 4.75023237,0.144403134 C4.60388605,0.341486825 4.5291722,0.582608804 4.53844111,0.8279113 L4.53844111,16.6930023 Z' id='Path' fill='%23A21E1B'%3E%3C/path%3E%3Cpath d='M58.9495419,8.84709866 C56.6679724,8.84709866 55.5127473,10.1563537 55.5127473,12.6978489 L55.5127473,16.250166 C55.5127473,18.4450936 56.7642411,19.7543487 58.8532731,19.7543487 C59.7698217,19.8652305 60.6888437,19.5681783 61.3670952,18.941815 C62.0453466,18.3154516 62.4144491,17.4229244 62.3767096,16.5004647 L62.3767096,15.9806135 L60.3454389,16.3656885 C60.3454389,17.9156155 59.4693932,18.1370336 58.9591688,18.1370336 C58.0446156,18.1562873 57.5632718,17.5594211 57.5632718,16.3656885 L57.5632718,14.6135971 L62.3767096,14.6135971 L62.3767096,12.688222 C62.4639196,11.8576915 62.292446,11.0204968 61.8857389,10.29113 C61.2378068,9.31690166 60.1167119,8.76554351 58.9495419,8.84709866 L58.9495419,8.84709866 Z M60.2973045,12.9385208 L60.2973045,13.0925508 L57.5632718,13.0925508 L57.5632718,12.2935201 C57.5632718,11.1286682 58.0253618,10.5318019 58.9302881,10.5318019 C59.5464082,10.5318019 60.2780507,10.8398619 60.2780507,12.2935201 L60.2973045,12.9385208 Z' id='Shape' fill='%23444446'%3E%3C/path%3E%3Cpath d='M107.623025,11.6292657 C107.674093,10.8350182 107.3753,10.0581535 106.805167,9.50282901 C106.235033,8.94750452 105.450576,8.66925484 104.657947,8.74120303 C102.414885,8.74120303 101.028615,9.98306998 100.9516,12.0624751 L100.9516,12.0624751 L100.9516,12.0624751 L100.9516,12.3705351 L102.934736,12.0335945 C103.07914,10.984265 103.550856,10.4547869 104.34026,10.4547869 C105.129664,10.4547869 105.495485,10.9746382 105.495485,12.0047138 L105.495485,12.5245651 L105.408843,12.5245651 L104.552052,12.919267 C103.852817,13.2276606 103.182667,13.5981766 102.549661,14.0263577 C101.401608,14.7298668 100.704393,15.9819328 100.710928,17.328376 C100.646553,17.9648456 100.8606,18.598053 101.297945,19.0649229 C101.735289,19.5317928 102.353184,19.7866925 102.992498,19.7639756 C103.900146,19.825698 104.771134,19.3957169 105.274067,18.6376311 L105.514739,18.339198 L105.514739,18.724273 L105.582127,19.5906918 L107.738547,19.5906918 C107.639193,19.0700347 107.584442,18.5418501 107.57489,18.0118842 L107.623025,11.6292657 Z M105.485858,14.3632984 L105.485858,17.1358385 L105.485858,17.1358385 C104.792723,17.8963617 104.523171,18.0985261 103.916678,18.0985261 C103.310185,18.0985261 102.809587,17.6941973 102.809587,16.9721816 C102.809587,15.942106 103.521976,15.1238215 105.206679,14.238149 L105.428097,14.1226265 L105.485858,14.3632984 Z' id='Shape' fill='%23444446'%3E%3C/path%3E%3Cpath d='M32.4274997,5.37179657 L29.0966007,5.37179657 L29.0966007,19.6195724 L32.4274997,19.6195724 C33.5255762,19.7239222 34.6156827,19.3523746 35.421458,18.5991236 C36.1442194,17.696102 36.5076604,16.5577773 36.4419068,15.4030009 L36.4419068,9.5787412 C36.5024772,8.4120318 36.1170122,7.26596164 35.3636967,6.37299163 C34.5737257,5.63380715 33.5044981,5.26921807 32.4274997,5.37179657 Z M34.1410835,15.5859116 C34.1410835,17.2321073 33.640486,17.7519586 32.0713053,17.7519586 L31.4263046,17.7519586 L31.4263046,7.21052981 L32.0713053,7.21052981 C33.6019785,7.21052981 34.1410835,7.78814234 34.1410835,9.41508432 L34.1410835,15.5762847 L34.1410835,15.5859116 Z' id='Shape' fill='%23444446'%3E%3C/path%3E%3Cpolygon id='Path' fill='%23444446' points='40.6295977 5.21776656 38.5598194 5.21776656 38.5598194 5.7183641 38.5598194 6.24784225 38.5598194 7.22978356 40.6295977 7.22978356 40.6295977 6.72918603 40.6295977 6.29597663'%3E%3C/polygon%3E%3Cpolygon id='Path' fill='%23444446' points='40.6295977 9.00112867 38.5598194 9.00112867 38.5598194 12.0143407 38.5598194 16.5678529 38.5598194 19.6195724 40.6295977 19.6195724 40.6295977 16.5678529 40.6295977 11.9373257'%3E%3C/polygon%3E%3Cpath d='M51.902669,8.84709866 C50.9680519,8.8819923 50.0911636,9.30820893 49.4863232,10.0215775 L49.3611738,10.1371 L49.2649051,9.99269685 C48.6006506,9.03000929 48.3022175,8.84709866 47.5513212,8.84709866 C46.6629208,8.8932641 45.8318686,9.30009717 45.2504979,9.9734431 L45.0001992,10.1948612 L45.0001992,9.00112867 L42.9304209,9.00112867 L42.9304209,19.5906918 L45.0483336,19.5906918 L45.0483336,11.2826982 L45.1060948,11.2826982 C45.504419,10.9177929 46.011985,10.6944639 46.5501261,10.6473244 C46.8485593,10.6473244 47.3684106,10.7821007 47.3684106,11.7351613 L47.3684106,19.6677068 L49.4478157,19.6677068 L49.4478157,11.2826982 L49.5055769,11.2826982 C49.8805126,10.9131392 50.3620566,10.6706835 50.8822202,10.5895631 C51.2672952,10.5895631 51.7197583,10.7821007 51.7197583,11.6966538 L51.7197583,19.6291993 L53.7991635,19.6291993 L53.7991635,11.0709069 C53.7895366,10.060085 53.4622228,8.84709866 51.902669,8.84709866 Z' id='Path' fill='%23444446'%3E%3C/path%3E%3Cpath d='M68.8170894,8.84709866 C67.9618945,8.88271348 67.156985,9.26088217 66.5836542,9.8964281 L66.3333555,10.1178462 L66.3333555,9.00112867 L64.2539503,9.00112867 L64.2539503,19.5906918 L66.3237286,19.5906918 L66.3237286,11.2730713 L66.3911167,11.2730713 C66.7831203,10.9077506 67.2764205,10.66949 67.8062674,10.5895631 C68.3357456,10.5895631 68.6630594,11.0035188 68.6630594,11.6774001 L68.6630594,19.6099456 L70.7135839,19.6099456 L70.7135839,11.0709069 C70.7232107,9.62687558 70.0782101,8.84709866 68.8170894,8.84709866 Z' id='Path' fill='%23444446'%3E%3C/path%3E%3Cpath d='M75.9698579,13.2658346 C74.805006,12.4090426 74.419931,12.0239676 74.419931,11.4752357 C74.419931,10.943558 74.8509409,10.5125481 75.3826185,10.5125481 C76.0179923,10.5125481 76.4608286,10.9746382 76.6437392,11.8121763 L78.4535918,11.6485195 C78.0973974,9.79053247 77.048068,8.85672553 75.344111,8.85672553 C73.7894133,8.79152366 72.4755877,9.9976586 72.407914,11.5522507 C72.407914,12.8326251 73.101049,13.7664321 75.0456779,15.1045678 C76.2009029,15.9228522 76.5570973,16.3560616 76.5570973,16.9625548 C76.5629076,17.2519346 76.4478269,17.5306386 76.2395417,17.7316156 C76.0312565,17.9325926 75.7486214,18.0376493 75.4596335,18.0215111 C74.573961,18.0215111 74.2755278,17.5883017 73.9770947,16.3849422 L72.1864958,16.8470323 C72.5811977,18.8494224 73.6497809,19.7350949 75.5559023,19.7350949 C76.3481855,19.7774111 77.1229845,19.4919194 77.6983899,18.9456484 C78.2737953,18.3993775 78.5991242,17.6404439 78.5979979,16.8470323 C78.5883681,15.5474041 78.0781437,14.8350153 75.9698579,13.2658346 Z' id='Path' fill='%23444446'%3E%3C/path%3E%3Cpolygon id='Path' fill='%23444446' points='82.3813571 9.00112867 80.3019519 9.00112867 80.3019519 10.75322 80.3019519 16.2309122 80.3019519 19.6195724 82.3813571 19.6195724 82.3813571 16.2309122 82.3813571 10.5895631'%3E%3C/polygon%3E%3Cpolygon id='Path' fill='%23444446' points='82.3813571 5.21776656 80.3019519 5.21776656 80.3019519 5.77612535 80.3019519 6.41149914 80.3019519 7.22978356 82.3813571 7.22978356 82.3813571 6.83508166 82.3813571 6.03605099'%3E%3C/polygon%3E%3Cpath d='M87.5798699,8.81821803 C85.4234497,8.81821803 84.1334484,10.2333687 84.1334484,12.6015801 L84.1334484,16.019121 C84.1334484,18.3969592 85.4138229,19.8698712 87.5606161,19.8698712 C89.7074094,19.8698712 91.0070376,18.4450936 91.0070376,16.019121 L91.0070376,12.6015801 C91.0070376,10.2237419 89.7266631,8.81821803 87.5798699,8.81821803 Z M88.8698712,16.2886735 C88.8698712,17.4920329 88.4270349,18.0985261 87.5606161,18.0985261 C86.9733767,18.0985261 86.2706148,17.7808392 86.2706148,16.2886735 L86.2706148,12.3320276 C86.2706148,11.1479219 86.7134511,10.5414288 87.5991236,10.5414288 C88.4847962,10.5414288 88.8698712,11.1479219 88.8698712,12.3320276 L88.8698712,16.2886735 Z' id='Shape' fill='%23444446'%3E%3C/path%3E%3Cpath d='M97.1393573,8.84709866 C96.2841624,8.88271348 95.4792529,9.26088217 94.9059222,9.8964281 L94.6556234,10.1178462 L94.6556234,9.00112867 L92.5762183,9.00112867 L92.5762183,19.5906918 L94.6556234,19.5906918 L94.6556234,11.2730713 L94.7230116,11.2730713 C95.1150152,10.9077506 95.6083154,10.66949 96.1381623,10.5895631 C96.6676404,10.5895631 96.9949542,11.0035188 96.9949542,11.6774001 L96.9949542,19.6099456 L99.0454787,19.6099456 L99.0454787,11.0709069 C99.0454787,9.62687558 98.4101049,8.84709866 97.1393573,8.84709866 Z' id='Path' fill='%23444446'%3E%3C/path%3E%3Cpolygon id='Path' fill='%23444446' points='109.731311 19.6195724 111.647059 19.6195724 111.647059 16.404196 111.647059 8.90485991 111.647059 5.37179657 109.731311 5.37179657 109.731311 9.0685168 109.731311 16.1442703'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

// Navbar
$navbar-bg:                         $light !default;
$navbar-light-color:                $gray-600 !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E") !default;
$navbar-light-toggler-border-color: transparent !default;

// Forms
$input-bg:                              transparent !default;
$input-disabled-bg:                     $gray-200 !default;
$input-color:                           $gray-900 !default;
$input-border-color:                    $gray-300 !default;
$input-focus-border-color:              $primary-light !default;
$input-padding-x:                       .5rem !default;
$input-border-radius:                   0 !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;
$form-text-margin-top:                  6px !default;

// Alerts
$alert-padding-y:                   .5rem !default;
$alert-padding-x:                   .80rem !default;
$alert-border-radius:               0 !default;

// Cards
$card-bg:                           $white !default;
$card-spacer-y:                     .8rem !default;
$card-spacer-x:                     .8rem !default;
$card-border-radius:                0 !default;
$card-border-color:                 $gray-300 !default;

// Popovers
$popover-border-color:              $gray-300 !default;
$popover-border-radius:             0 !default;
$popover-arrow-width:               .75rem !default;
$popover-arrow-height:              .4rem !default;

// Dropdowns
$dropdown-menu-bg:                  $white !default;
$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-border-color:             $gray-300 !default;
$dropdown-border-radius:            0 !default;
$dropdown-divider-bg:               $gray-300 !default;
$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           .8rem !default;
$dropdown-header-color:             $gray-600 !default;

// Breadcrumbs
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-bg:                     $white !default;
$breadcrumb-border-radius:          0 !default;

// Pagination
$pagination-border-width:           0 !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary-light !default;
$pagination-hover-border-color:     $primary-light !default;

// Modals
$modal-inner-padding:               .8rem !default;
$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       0 !default;
$modal-header-border-color:         $gray-300 !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding:              .8rem !default;

// Tables
$table-bg:                          $white !default;

// Tabs
$tab-bg:                            $white !default;
$tab-active-color:                  $gray-600 !default;

// Tooltips

$tooltip-color:                     $white !default;
$tooltip-bg:                        $black !default;
