// Colors
$white:               #ffffff !default;
$app-bg:              #f3f3f3 !default; // App BG
$gray-100:            #F5F5F4 !default; // Table Header BG
$gray-200:            #B5BFCE !default; // Disabled
$gray-300:            #D2D2D0 !default; // Borders
$gray-600:            #6E787F !default; // Secondary Text / Text Muted
$gray-900:            #333F48 !default; // Primary Text
$black:               #000000 !default;

$primary:             #01B7BD !default; // Dimensional Teal
$primary-light:       #01919C !default;
$primary-dark:        #007E87 !default;
$secondary:           $gray-600 !default;

$success:             #3C8700 !default; // Green
$success-light:       #D8E7CC !default;
$success-dark:        #256700 !default;

$info:                #14568D !default; // Blue
$info-light:          #D0DDE8 !default;
$info-dark:           #073B64 !default;

$warning:             #FDB81E !default; // Yellow
$warning-light:       #FFF1D2 !default;
$warning-dark:        #FC9E10 !default;

$danger:              #E4292F !default; // Red
$danger-light:        #F7D0D1 !default;
$danger-dark:         #D8171B !default;
$light:               $gray-100 !default;
$dark:                $gray-900 !default;

$data-vis-blue:       #129CEB !default;
$data-vis-pink:       #F05EA0 !default;
$data-vis-purple:     #AF79FF !default;
$data-vis-yellow:     #BA9100 !default;
$data-vis-magenta:    #A9195D !default;
$data-vis-teal:       #00A7A4 !default;

$grid-blue-light:     #EDF5FF !default;
$grid-blue:           #D0E2FF !default;
$grid-blue-dark:      #A6C8FF !default;

// Body
$body-bg:                   $app-bg !default;
$body-color:                $gray-900 !default;

// Links
$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          $primary-dark !default;

// Components
$border-color:                $gray-300 !default;

$border-radius:               2px !default;
$border-radius-lg:            8px !default;
$border-radius-sm:            4px !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 1px 4px 2px $gray-300, 0 1px 0 0 $gray-300 !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Grid columns
$grid-gutter-width:           24px !default;

// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           "Sentinel", Georgia, serif, !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-heavy:           900 !default;
$headings-font-family:        $font-family-serif !default;
$headings-font-weight:        300 !default;
$text-muted:                  $gray-600 !default;

// Navs
$nav-tabs-border-radius:            0 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-hover-border-color:  transparent !default;
$nav-tabs-link-active-border-color: transparent !default;

// Navbar
$navbar-light-color:                $gray-600 !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E") !default;
$navbar-light-toggler-border-color: transparent !default;

// Forms
$input-bg:                              transparent !default;
$input-disabled-bg:                     $gray-200 !default;
$input-color:                           $gray-900 !default;
$input-border-color:                    $gray-300 !default;
$input-focus-border-color:              $primary-light !default;
$input-padding-x:                       .5rem !default;
$input-border-radius:                   0 !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;
$form-text-margin-top:                  6px !default;

// Alerts
$alert-padding-y:                   .5rem !default;
$alert-padding-x:                   .80rem !default;
$alert-border-radius:               0 !default;

// Cards
$card-spacer-y:                     .8rem !default;
$card-spacer-x:                     .8rem !default;
$card-border-radius:                0 !default;

// Popovers
$popover-border-color:              $gray-300 !default;
$popover-border-radius:             0 !default;
$popover-arrow-width:               .75rem !default;
$popover-arrow-height:              .4rem !default;

// Dropdowns
$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-border-color:             $gray-300 !default;
$dropdown-border-radius:            0 !default;
$dropdown-divider-bg:               $gray-300 !default;
$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           .8rem !default;
$dropdown-header-color:             $gray-600 !default;

// Breadcrumbs
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-bg:                     $white !default;
$breadcrumb-border-radius:          0 !default;

// Pagination
$pagination-border-width:           0 !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary-light !default;
$pagination-hover-border-color:     $primary-light !default;

// Modals
$modal-inner-padding:               .8rem !default;
$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       0 !default;
$modal-header-border-color:         $gray-300 !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding:              .8rem !default;
